* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	background-color: rgb(124, 47, 47);
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	background-image: url(../img/software-gd350746fd_1920.jpg);
	background-color: rgb(185, 172, 172);
	background-size: cover;
	min-height: 100%;
	padding-bottom: 10rem;
}

main {
	width: 80%;
	margin: auto;
}
h2 {
	padding: 3rem 0rem;
	color: white;
	font-family: "Schoolbell", sans-serif;
	font-size: 3rem;
}
ul {
	display: grid;
	gap: 1rem;
}
@media (min-width: 40em) {
	ul {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 60em) {
	ul {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 80em) {
	ul {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (min-width: 100em) {
	ul {
		grid-template-columns: repeat(5, 1fr);
	}
}
a,
p {
	display: block;
	font-family: "roboto", sans-serif;
	width: 15rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	padding: 15px 40px;
}

button {
	display: flex;
	justify-content: center;
	margin: 10px;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 12px;
}
button::after {
	content: "";
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333;
	left: 0;
	top: 0;
	border-radius: 10px;
}

button::before {
	content: "";
	background: linear-gradient(
		45deg,
		#0037ff,
		#ff7b00,
		#eaff00,
		#ff0000,
		#ffffff,
		#33ff00,
		#8f16d1,
		#163bd1
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
	opacity: 0;
}
@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

button:hover::before {
	opacity: 1;
}
button:active::after {
	background: transparent;
}
ul a:active {
	color: #000;
	font-weight: bold;
}
img {
	margin-top: 30px;
}
.conect{
	width:1000px;
}
.chatgpt {
	display: flex;
	justify-content: center;
}
.button_chat {
	margin-top: 5rem;
}
.button_chat::before {
	opacity: 1;
}
.button_chat::after {
	background: transparent;
}
.colors,
.sizing,
.conect {
	display: none;
}
.show {
	display: block;
}
input{
	font-size: 1.2rem;
	border-radius: 15px;
	text-align: center;
	background-color: rgba(34, 34, 190, 0.5);
	color: #fff;
	border: none;
	box-shadow: 2px 2px 2px #333;
}
::placeholder{
	color:#fff;
	font-family: 'roboto';
	font-style: italic;
}
input{
	display:none;
}